body {
  margin: 0;
font-family: 'Merriweather Sans', sans-serif;
}

.main {
  background-color: #D2DAFF;
  padding: 6.25em 0 3.125em;
}

.qr {
  padding: 10px;
}

.qr-code {
  width: 230px;
  height: 230px;
  border-radius: 10px;
  margin: auto;
}

.bg-white {
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 250px;
  margin: auto;
}

.textarea {
  padding: 0 20px 20px;
}

h1 {
  color: #25316D;
  font-size: 1em;
  text-align: center;
}

.text {
  color:#3F4E4F;
  font-size: 0.7em;
  text-align: center;
}

.attribution {
  color: #25316D;
  margin: auto;
  width: 20%;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}
